
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">My Shop</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <h2>Seller Dashboard</h2>

</div>


