
<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:350px; width:100%" src="~/Images/picture 3.png" />
            <div class="carousel-caption">


            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:350px; width:100%" src="~/Images/picture2.jpg" />
            <div class="carousel-caption">


            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:350px; width:100%" src="~/Images/picture1.jpg" />
            <div class="carousel-caption">


            </div>
        </div>

    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>


<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
<div class="olSearch fr">
    <input type="text" placeholder="Enter Keyword" name="searchKey" class="inputComn houseText form-control" />
    <div class="searchIcon">
        <button type="button" class="searchBtn">
           <i class=" fa fa-search" aria-hidden="true"></i>
        </button>
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Products <small>trends products</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/potato.jpg" />

            <div class="caption">
                <h5>Potato</h5>
                <p>20 Tk/Kg</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/garlic.jpg" />

            <div class="caption">
                <h5>Garlic</h5>
                <p>100 Tk/Kg</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                  src="~/Images/Cauliflower.jpg" />

            <div class="caption">
                <h5>Cauliflower</h5>
                <p>60 Tk/Kg</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                  src="~/Images/Onion.jpg" />

            <div class="caption">
                <h5>Onion</h5>
                <p>35 Tk/Kg</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                  src="~/Images/wheat.jpg" />"

            <div class="caption">
                <h5>Wheat</h5>
                <p>70 Tk/Kg</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
</div>
